prefer-no-csd

cursor {
  xcursor-size 48
}

environment {
  QT_QPA_PLATFORM "wayland"
  DISPLAY null
  NIXOS_OZONE_WL "1"
  MOZ_ENABLE_WAYLAND "1"
  MOZ_WEBRENDER "1"
  _JAVA_AWT_WM_NONREPARENTING "1"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  SDL_VIDEODRIVER "wayland"
  XDG_SESSION_TYPE "wayland"
  XDG_CURRENT_DESKTOP "niri"
  XDG_SESSION_DESKTOP "niri"
}

hotkey-overlay {
  skip-at-startup
}
