binds {
  Mod+Return { spawn "alacritty"; }
  Mod+Shift+E { quit; }
  Mod+Q cooldown-ms=300 { spawn "~/.closewindow"; }

  Mod+R { switch-preset-column-width; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+C { center-column; }

  Mod+H { focus-column-left; }
  Mod+J { focus-window-down; }
  Mod+K { focus-window-up; }
  Mod+L { focus-column-right; }

  Mod+Ctrl+H { move-column-left; }
  Mod+Ctrl+J { move-window-down; }
  Mod+Ctrl+K { move-window-up; }
  Mod+Ctrl+L { move-column-right; }

  Mod+U { focus-workspace-down; }
  Mod+I { focus-workspace-up; }

  Mod+Comma { consume-window-into-column; }
  Mod+Period { expel-window-from-column; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }
}
