layout {
  gaps 4
  center-focused-column "never"
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 1.0
  }
  default-column-width { }
  border {
    off
    width 4
  }
  focus-ring {
    off
    width 2
    active-gradient from="#d20f39" to="#fab387" angle=90
  }
  struts {
    left 2
    right 2
    top 2
    bottom 2
  }
}
