layout {
  gaps 4
  center-focused-column "never"
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 1.0
  }
  default-column-width { proportion 0.5; }
  border {
    width 4
    active-color "#b7bdf8"
    inactive-color "#b7bdf8"
  }
  focus-ring {
    off
  }
  struts {
    left 0
    right 0
    top 0
    bottom 0
  }
}
