animations {
  slowdown 2.0

  workspace-switch {
    spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
  }

  window-open {
    duration-ms 120
    curve "ease-out-expo"
  }

  window-close {
    duration-ms 120
    curve "ease-out-quad"
  }

  horizontal-view-movement {
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }

  window-movement {
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }

  window-resize {
    duration-ms 200
    curve "linear"
    custom-shader r"
      vec4 resize_color(vec3 coords_curr_geo, vec3 size_curr_geo) {
        vec3 coords_tex_next = niri_geo_to_tex_next * coords_curr_geo;
        vec4 color = texture2D(niri_tex_next, coords_tex_next.st);
        return color;
      }
    "
  }

  config-notification-open-close {
    spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
  }
}
