animations {
  workspace-switch {
    // spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    duration-ms 500
    curve "ease-out-expo"
  }

  window-open {
    duration-ms 500
    curve "ease-out-expo"
  }

  window-close {
    duration-ms 500
    curve "ease-out-quad"
  }

  horizontal-view-movement {
    duration-ms 500
    curve "ease-out-quad"
  }

  window-movement {
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }

  window-resize {
    spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
  }

  config-notification-open-close {
    spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
  }
}
