window-rule {
  draw-border-with-background false
}

window-rule {
  match app-id="Alacritty"
  opacity 0.95
  default-column-width { proportion 0.4; }
}

window-rule {
  match app-id="kitty"
  default-column-width { proportion 0.9; }
  geometry-corner-radius 12
  clip-to-geometry true
  border {
    on
    width 2
    active-color "#ed8796"
    inactive-color "#ed8796"
  }
}

window-rule {
  match app-id="qutebrowser"
  default-column-width { proportion 0.95; }
}

window-rule {
  match app-id="neovide"
  default-column-width { proportion 0.7; }
}
