window-rule {
  draw-border-with-background false
}

window-rule {
  match app-id="Alacritty"
  default-column-width { proportion 0.4; }
}

window-rule {
  match app-id="Alacritty"
  exclude is-active=true
  opacity 0.7
}

window-rule {
  match app-id="kitty"
  default-column-width { proportion 0.4; }
}

window-rule {
  match app-id="wezterm"
  default-column-width { proportion 0.95; }
  geometry-corner-radius 4
  clip-to-geometry true
  border {
    width 2
    active-gradient from="#80c8ff" to="#bbddff" angle=45
  }
}

window-rule {
  match app-id="qutebrowser"
  default-column-width { proportion 0.9; }
}

window-rule {
  match app-id="neovide"
  default-column-width { proportion 0.7; }
}
